@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&display=swap');

.main-items {
    margin-top: 20px;
    font-family: 'Anek Devanagari', sans-serif;
}

.carroCompra {
    margin-top: 20px;
    font-family: 'Anek Devanagari', sans-serif;
}